.neg {
  color: red;
}

.pos {
  color: lightgreen;
}

.neutral {
  color: grey;
}

#welcomeNav {
  text-align: center;
}

.navbarVerticalLine {
  border-left: 1px solid black;
}

#portfolioVerticalLine {
  border-left: 1px solid black;
  margin-top: 50px;
}

.navItem {
  padding: 5px;
}

html {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#authFormContainer {
  width: 500px;
  height: 300px;
  margin: auto;
  border: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.authInput {
  width: 90%;
  margin: 10px;
  padding: 5px;
}

#loginButton {
  text-align: center;
  margin: 10px;
}

#loginHeader {
  text-align: center;
}

.formElement {
  text-align: center;
}

#authSubmit {
  width: 6em;
  height: 3em;
}

#signedOutNav {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

#signedInNav {
  margin: 10px;
}

#error {
  text-align: center;
  color: red;
}

.sectionHeader {
  margin-top: 50px;
  margin-bottom: 30px;
}

.transactionContainer {
  margin-left: 50px;
}

.transactionItemContainer {
  display: inline-block;
}

.transactionItem {
  font-size: 20px;
}

.portfolioComponentContainer {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

#portfolioContainer {
  width: 60%;
  padding: 0px 20px 20px 0;
}

#stockPurchaseForm {
  margin-top: 50px;
  width: 40%;
  text-align: center;
  padding: 0px 0 20px 20px;
}

#balanceHeader {
  text-align: center;
}

.stockPurchaseInput {
  width: 100%;
  height: 20px;
  margin-bottom: 5px;
}

.portfolioStock {
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 10px;
}

#throttlingError {
  color: red;
}

#stockPurchaseError {
  color: red;
}

#attemptingToPurchase {
  color: green;
}
