.neg {
  color: red;
}

.pos {
  color: lightgreen;
}

.neutral {
  color: grey;
}

#welcomeNav {
  text-align: center;
}

.verticalLine {
  border-left: 1px solid black;
}

.navItem {
  padding: 5px;
}
